* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    width: 100%;
    height: 100vb;
   display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee9098;
}

.image-container {
    width: 250%;
    display: flexbox;
    margin-left: 28%;

}

.Pinksun {
    width: 50%; 
    height: auto;
}
.image-container1 {
    width: 50%;
    display: flex;
    margin-left: 20%;

}